################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CombineSoft/bin/Debug
/CombineSoft/obj/Debug
/.vs/CombineSoft/v16/.suo
